<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/profile', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg" %></td>
              <td><span><%= link_to book.title, book_path(book.id) %></span></td>
              <td><span><%= book.body %></span></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>