<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model:@book, url: book_path(params[:id]), local:true do |f| %>
        <div class="form-group">
          <label for="book_title">Title</label>
        </div>
        <%= f.text_field :title %>
        <div class="form-group">
          <label for="book_opinion">Opinion</label>
        </div>
        <%= f.text_area :body %>
        <div class="form-group">
          <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
        </div>
      <% end %>
    </div>
  </div>
</div>
